* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--backgroundMain);
    font-size: 24px;
}

:root {
    --backgroundMain: #1A535B;
    --backgroundLighter: #4C7D84;
    --backgroundLight: #2E666E;
    --backgroundDark: #093C43;
    --backgroundDarker: #01272C;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

h2 {
    padding: 3%;
    text-align: center;
}

a {
    color: var(--backgroundDarker);
    font-size: 20px;
    text-size-adjust: fill;
    text-decoration: none;
    /* font-weight: bold; */
}



/* Side panel settings start here */
.side_panel {
    width: 120px;
    display: inline-block;
}

.side {
    position: fixed;
    right: 0;
    width: 130px;
    text-align-last: center;
    max-height: fit-content;
    padding-left: 1%;
    border-left: solid #01272C 5px;
}

.side ul {
    list-style: none;
    /* border: solid 5px; */
    border-left: var(--backgroundDarker) solid 5px;
    border-top: var(--backgroundDarker) solid 5px;
    border-bottom: var(--backgroundDarker) solid 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--backgroundLight);
}

.side ul li {
    padding: 8px;
    text-align: center;
}

/* End Side Panel CSS */

/* Start of section settings */
.land_c {
    display: inline-block;
    border-bottom: #01272C solid 10px;
    padding-bottom: 8%;
    margin: 0 10% 0 7%;
}

.land {
    display: flex;
    width: 100%;
    text-align: center;
    border: #01272C solid 5px;
    border-radius: 15px;
    height: 400px;
    background-color: var(--backgroundDark);
}

.land p {
    margin-left: -90px;
    padding: 1%;
    text-align: left;
    line-height: 2em;
    font-size: 1.5rem;
}

.land h2 {
    margin-left: -160px;
}

/* picture for About Me */
.bubble {
    position: relative;
    /* width: 200px; */
    max-height: 200px;
    left: -105px;
    top: 25%;
    border-radius: 50%;
    border: #01272C solid 8px;
}

/* picture for Projects, shares some properties with the about me bubble */
.projects_c .bubble {
    position: relative;
    top: -220px;
    left: 38%;
    max-width: 300px;
}

.projects_c {
    border: #01272C solid 5px;
    background-color: var(--backgroundDark);
    margin-top: 8%;
    padding-top: 8%;
    width: 83%;
    display: block;
    margin-left: 7%;
    margin-bottom: 8%;
    border-radius: 8px;
}

.projects_c h2 {
    margin-top: -200px;
}

.card_c {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* capstone display is larger and want it in the middle */
.capstone {
    display: flex;
    justify-content: space-around;
}

.capstone img {
    width: 700px;
    max-height: 500px;
}

.p_detail h5 {
    position: relative;
    bottom: 50px;
    left: 5px;
    width: 25%;
    background-color: #1A535B;
    border-radius: 8px 8px 0 0;
    font-size: 1rem;
}

.p_detail h6 {
    position: relative;
    bottom: 50px;
    left: 5px;
    width: 25%;
    background-color: #1A535B;
    border-radius: 0 0 8px 8px;
    font-size: 1rem;
}

.info_head {
    border-radius: 8px;
}

.card_c {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
}

.card {
    padding: 2%;
    transition: all 0.5s ease-in-out;

}

.card img {
    width: 100%;
}

/* footer properties */
.footer {
    justify-content: center;
    display: block;
    width: 100%;
    text-align: center;
    border-top: #01272C solid 10px;
    padding: 0 7% 0 7%;
}

.footer ul li {
    justify-content: center;
    display: inline-block;
    padding: 1%;
}

.footer img {
    max-width: 50px;
}

/* adding in hover effect for cards */
.card_c .card img:hover,
.capstone img:hover {
    box-shadow: 10px 20px 5px #4C7D84;
}

/* laptops/desktops */
@media (max-width: 1200px) {

    /* just removes the small border on left of side links */
    .side {
        border-left: none;
    }
}

/* tablets */
@media (max-width:992px) {

    /* limit the side to 100px */
    .side {
        width: 100px;
    }

    /* move the selfie to the top middle */
    .land img {
        top: -195px;
        left: 38%;
        max-width: 300px;
        border-radius: 50%;
    }

    h1 {
        margin-bottom: 150px;
    }

    .land_c,
    .land p {
        margin-bottom: 10%;
        font-size: 1.4rem;
    }

    .card_c {
        grid-template-columns: 1fr 1fr;
    }
}

/* phones */
@media (max-width:600px) {

    h1 {
        margin-top: 10%;
    }

    .land_c p {
        font-size: 1.1rem;
    }

    .land_c {
        margin-bottom: 30%;
    }

    .side {
        display: inline-block;
        width: 100%;
        max-height: 25px;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
    }

    .side ul {
        border: solid #01272C 5px;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .side ul li {
        display: inline-block;
        text-align: center;
        justify-content: center;

    }

    .projects_c .bubble {
        border-radius: 50%;
        width: 200px;
        left: 28%;
        top: -180px;
    }

    /* .projects_c h2 {
        margin: -25px;
    } */

    .capstone a img {
        width: 100%;
    }

    .card_c {
        grid-template-columns: 1fr;
    }
}